@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro:wght@300&display=swap');

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333533;
}

div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2, p
{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #202020;
    color: #FFD100;
    background-color: #202020;
    transition-duration: 0.4s;
}

code
{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4em;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #202020;
    color: #FFD100;
    background-color: #202020;
    transition-duration: 0.4s;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label
{
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #202020;
    color: #FFD100;
    background-color: #202020;
    transition-duration: 0.4s;
}

.agrupado:hover
{
    h2, p, code, label
    {
        transition: ease-in-out 0.4s;
        transform: scale(1.1);
        border: 2px solid #FFD100;
        background-color: #FFD100;
        color: #202020;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

.interactuar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button
    {
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #202020;
        color: #FF6900;
        background-color: #202020;
        transition-duration: 0.4s;
    }
    button:hover
    {
        transition: ease-in-out 0.4s;
        transform: scale(1.3);
        border: 2px solid #FF6900;
        background-color: #FF6900;
        color: #202020;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    button:active
    {
        transition: ease-in-out 0.1s;
        transform: scale(1.1);
        border: 2px solid #FF6900;
        background-color: #202020;
        color: #FF6900;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    input[type=text]
    {
        text-align: center;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #202020;
        color: #FFD100;
        background-color: #202020;
        transition-duration: 0.4s;
        outline:none;
        width: 150px;
        height: 30px;
    }
    input[type=text]:hover
    {
        transition: ease-in-out 0.4s;
        border: 2px solid #FFD100;
        background-color: #FFD100;
        color: #202020;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    textarea
    {
        text-align: center;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #202020;
        color: #FFD100;
        background-color: #202020;
        transition-duration: 0.4s;
        outline:none;
        width: 700px;
        height: 30px;
    }
    textarea:hover
    {
        transition: ease-in-out 0.4s;
        border: 2px solid #FFD100;
        background-color: #FFD100;
        color: #202020;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    input[type=number]
    {
        text-align: center;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #202020;
        color: #FFD100;
        background-color: #202020;
        transition-duration: 0.4s;
        outline:none;
        width: 150px;
        height: 30px;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
    {
    -webkit-appearance: none;
    margin: 0;
    }
    input[type=number]:hover
    {
        transition: ease-in-out 0.4s;
        border: 2px solid #FFD100;
        background-color: #FFD100;
        color: #202020;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

.moverse
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    a
    {
        text-decoration: none;
        color: #202020;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid #FFD100;
        background-color: #FFD100;
        transition-duration: 0.4s;
    }

    a:hover
    {
        transition: ease-in-out 0.4s;
        transform: scale(1.3);
        border: 2px solid #FFD100;
        background-color: #FFD100;
        color: #202020;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    a:active
    {
        transition: ease-in-out 0.1s;
        transform: scale(1.1);
        border: 2px solid #FFD100;
        background-color: #202020;
        color: #FFD100;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333533;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #333533;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FFD100;
}
