@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro:wght@300&display=swap');

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333533;
}

h1
{
    font-family: 'Comfortaa', cursive;
    font-size: 2.5rem;
    padding: 25px;
    border-radius: 5px;
    color: #FFD100;
    background-color: #202020;
    transition-duration: 0.4s;
}

h1:hover
{
    color: #202020;
    background-color: #FFD100;
    border-radius: 50px;
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tabla
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-collapse: collapse;

    td
    {
        margin: 10px;
        padding: 30px;
        background-color: #202020;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        transition-duration: 0.3s;
    }
    
    a
    {
        text-decoration: none;
        color: #FFD100;
        font-size: 1.5rem;
    }

    td:hover
    {
        border-radius: 50px;
        background-color: #FFD100;
        color: #202020;
        transform: scale(1.5);

        a
        {
            color: #202020;
        }
    }
}