@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro:wght@300&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #333533;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h2, p {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.4em;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

label {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.agrupado:hover h2, .agrupado:hover p, .agrupado:hover code, .agrupado:hover label {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #FFD100;
  background-color: #FFD100;
  color: #202020;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.interactuar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.interactuar button {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FF6900;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.interactuar button:hover {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 2px solid #FF6900;
  background-color: #FF6900;
  color: #202020;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.interactuar button:active {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #FF6900;
  background-color: #202020;
  color: #FF6900;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.interactuar input[type=text] {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  outline: none;
  width: 150px;
  height: 30px;
}

.interactuar input[type=text]:hover {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  border: 2px solid #FFD100;
  background-color: #FFD100;
  color: #202020;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.interactuar textarea {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  outline: none;
  width: 700px;
  height: 30px;
}

.interactuar textarea:hover {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  border: 2px solid #FFD100;
  background-color: #FFD100;
  color: #202020;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.interactuar input[type=number] {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #202020;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  outline: none;
  width: 150px;
  height: 30px;
}

.interactuar input::-webkit-outer-spin-button, .interactuar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.interactuar input[type=number]:hover {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  border: 2px solid #FFD100;
  background-color: #FFD100;
  color: #202020;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.moverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.moverse a {
  text-decoration: none;
  color: #202020;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #FFD100;
  background-color: #FFD100;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.moverse a:hover {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 2px solid #FFD100;
  background-color: #FFD100;
  color: #202020;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.moverse a:active {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #FFD100;
  background-color: #202020;
  color: #FFD100;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #333533;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #333533;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #FFD100;
}
/*# sourceMappingURL=style.css.map */