@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Code+Pro:wght@300&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #333533;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  padding: 25px;
  border-radius: 5px;
  color: #FFD100;
  background-color: #202020;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

h1:hover {
  color: #202020;
  background-color: #FFD100;
  border-radius: 50px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-collapse: collapse;
}

.tabla td {
  margin: 10px;
  padding: 30px;
  background-color: #202020;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tabla a {
  text-decoration: none;
  color: #FFD100;
  font-size: 1.5rem;
}

.tabla td:hover {
  border-radius: 50px;
  background-color: #FFD100;
  color: #202020;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.tabla td:hover a {
  color: #202020;
}
/*# sourceMappingURL=styleIndex.css.map */